:root {
  --color-strong-green: #3ea03f4d;
}

.transacao-container {
  width: 400px;
  margin: 2px auto;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: var(--color-strong-green);
}
